<header class="sw-header {{#if editMode}}sw-editing{{/if}}">
  {{#if editable}}
  <button type="button" class="sw-lock" data-action="toggleEdit"
    title="{{#if editMode}}{{localize "STORYWEALD.Edit.lock"}}{{else}}{{localize "STORYWEALD.Edit.unlock"}}{{/if}}">
    <i class="fa-solid {{#if editMode}}fa-lock-open{{else}}fa-lock{{/if}}"></i>
  </button>
  {{/if}}
  <img class="sw-portrait" src="{{actor.img}}" alt="{{actor.name}}">
  <div class="sw-identity">
    <input class="sw-name" type="text" name="name" value="{{actor.name}}" {{#unless editable}}readonly{{/unless}}>
    <div class="sw-subline">
      {{#if system.character_class}}<span>{{system.character_class}}</span>{{/if}}
      <span>{{localize "STORYWEALD.Actor.level"}} {{system.level}}</span>
      {{#if system.species}}<span>{{system.species}}</span>{{/if}}
      {{#if isNpc}}
        {{#if system.creature_type}}<span>{{system.creature_type}}</span>{{/if}}
        {{#if system.size}}<span>{{system.size}}</span>{{/if}}
        {{#if system.legendary}}<span class="sw-tag">{{localize "STORYWEALD.Actor.legendary"}}</span>{{/if}}
      {{/if}}
    </div>
  </div>

  <div class="sw-stats">
    {{#each resourceStats}}
    <div class="sw-stat sw-resource">
      <span class="sw-stat-label">{{this.label}}</span>
      <div class="sw-stat-value sw-stepper">
        <button type="button" class="sw-step" data-action="adjustResource" data-resource="{{this.key}}" data-delta="-1" title="−1" {{#unless ../editable}}disabled{{/unless}}>&minus;</button>
        <input type="number" name="system.{{this.key}}.value" value="{{this.value}}" min="0" {{#unless ../editable}}readonly{{/unless}}>
        <button type="button" class="sw-step" data-action="adjustResource" data-resource="{{this.key}}" data-delta="1" title="+1" {{#unless ../editable}}disabled{{/unless}}>+</button>
        <span class="sw-stat-sep">/</span>
        <input type="number" class="sw-max" name="system.{{this.key}}.max" value="{{this.max}}" min="0" {{#unless ../editMode}}disabled{{/unless}}>
      </div>
    </div>
    {{/each}}
    <div class="sw-stat">
      <span class="sw-stat-label">{{profile.resources.armor_class}}</span>
      <span class="sw-stat-value">{{system.armor_class}}</span>
    </div>
    <div class="sw-stat">
      <span class="sw-stat-label">{{profile.resources.attack_bonus}}</span>
      <span class="sw-stat-value">{{system.attack_bonus}}</span>
    </div>
  </div>

  <div class="sw-saves">
    {{#each saves}}
    <div class="sw-save" data-action="rollSave" data-save="{{this.key}}" title="Roll {{this.label}} save (1d20)">
      <span class="sw-save-label">{{this.label}}</span>
      <span class="sw-save-value">{{this.value}}</span>
    </div>
    {{/each}}
  </div>

  <nav class="sheet-tabs tabs" data-group="primary">
    {{#each tabs}}
    <a class="item {{this.cssClass}}" data-action="tab" data-group="{{this.group}}" data-tab="{{this.id}}">{{localize this.label}}</a>
    {{/each}}
  </nav>
</header>
